*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.divForm, .right {
    border: 1px dashed black;
    width: 30vw;
}


/*form*/
.divForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.divForm h1 {
    align-self: center;
}

.input {
    display: flex;
    flex-direction: column;
}

/*container with books*/

.container_books {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 15vh;
    background-color: grey;
    border-radius: 16px;
    margin: auto auto;
}

.read {
    background-color: green;
}

.notRead {
    background-color: red;
}